    </div>
</div>
    <div class="page-wrapper">
                <div class="page-wrapper-inner">

                    <!-- Left Sidenav -->
                    <div class="left-sidenav">
                        
                        <ul class="metismenu left-sidenav-menu" id="side-nav">

                            <li class="menu-title">Anasayfa</li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-clipboard"></i><span>Sunulacak Hizmetler</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/offer/offer/">Önerilen Hizmetler</a></li>
                                    <li><a href="/offer/addOffer/"><span>Hizmet Öner</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-help"></i><span>Yardım Talepleri</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/help/help/"><span>Tüm Talepler</span></a></li>
                                    <li><a href="/help/pendingHelp/"><span>Onay Bekleyen Talepler</span></a></li>
                                    <li><a href="/help/confirmHelp/"><span>Onaylanan Talepler</span></a></li> 
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-warning"></i><span>Sorun Bildirimleri</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/problem/problem/"><span>Çözüm Bekleyen Sorunlar</span></a></li>
                                    <li><a href="/problem/fixedProblem/"><span>Çözülen Sorunlar</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- end left-sidenav-->

                    <!-- Page Content-->