<%- include('./src/header'); %>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title mb-2"><i class="dripicons-user"></i>  Hizmet Öner</h4>  
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Hizmet Öner</a></li>
                </ol>
            </div>                                      
        </div>
    </div>
</div>
<%- include('./src/sidebar'); %>
                <div class="page-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mt-0 header-title">HİZMET ÖNER</h4>
                                            <hr>
                                        <form action='/offer/addOffer/' method='POST' enctype="multipart/form-data" >
                                            <div class="form-group">
                                                <label for="image">Resim</label>
                                                <input name='image' type="file" id="image" class="dropify" />
                                            </div>
                                            <div class="form-group">
                                                <label for="title">Teklif Adı</label>
                                                <input name='title' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Teklif Başlık Giriniz...">
                                            </div>
                                            <div class="form-group">
                                                <label for="descrption">Teklif Açıklama</label>
                                                <input name='descrption' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Teklif Açıklaması Giriniz...">
                                            </div>
                                            <button name="action" type="submit" class="btn btn-primary">Kaydet</button>
                                        </form>                                                  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<%- include('./src/footer'); %>
